*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

body{
  color: white;
  background: rgb(38,52,129);
  background: linear-gradient(180deg, rgba(38,52,129,1) 0%, rgba(54,77,204,1) 100%);
  font-family: 'Raleway', sans-serif;

}

.avatar{
  width: 80px;
  border-radius: 50px;
  border: 3px solid white;
  box-shadow: 0 0 20px white;
  
}
h1{
  font-family: 'Architects Daughter', cursive;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 2px;
}

h2{
  font-size: 16px;
  
}

.profile{
  text-align: center;
  margin-top: 20px;
}

.social img{
  width: 33px;

}

.social {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 20px 0;
}

.links-list{
  list-style: none;
}

.links-list li{
  margin: 10px 20px;
}

.links-list li a{
  background: white;
  padding: 15px 20px;
  display: block;
  border-radius: 4px;
  text-decoration: none;
  color: rgb(54 ,77,204);
  font-weight: bold;
  box-shadow: 0 0 20px white;
}

.links-list li a span{
  color: grey;
  display: block;
  margin-top: 10px;
}
